<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Programada 1</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>




@model TallerRepuestosMVC.Models.Repuesto
@using System.Web.Mvc.Html
@{
    ViewBag.Title = "Ingresar Repuesto";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ingresar Nuevo Repuesto</h2>


@if (ViewBag.Mensaje != null)
{

    <div class="alert alert-info">@ViewBag.Mensaje</div>
}



@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formRepuesto" }))

{
    //<label>Correo:</label>
    //@Html.TextBoxFor(m => m.Correo, new { @class = "form-control", @id = "Correo" })

    <div class="form-group">
        @Html.LabelFor(m => m.Nombre)
        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nombre)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Descripcion)
        @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Cantidad)
        @Html.TextBoxFor(m => m.Cantidad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cantidad)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Precio)
        @Html.TextBoxFor(m => m.Precio, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Precio)
    </div>
    <div id="mensajeError" style="color:red; display:none; margin-bottom:10px;"></div>
    <button type="submit" class="btn btn-primary">Guardar</button>


}

@{
    var tema = Session["Tema"] != null ? Session["Tema"].ToString() : "Claro";
}

@if (ViewBag.Repuestos != null)
{ 
    <h2>Repuestos Disponibles</h2>
    <table class="table table-bordered @tema">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rep in (List<TallerRepuestosMVC.Models.Repuesto>)ViewBag.Repuestos)

        {
            <tr>
                <td>@rep.Nombre</td>
                <td>@rep.Descripcion</td>
                <td>@rep.Cantidad</td>
                <td>₡@rep.Precio.ToString("N2")</td>
            </tr>
        }
    </tbody>
    </table>
}
<script src="~/Scripts/validarRepuesto.js"></script>